# Node
node_modules/
npm-debug.log
.env
.DS_Store

# Docker
*.pid
docker-compose.override.yml

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
*.plan

# Logs
logs/
*.log

# IDE
.vscode/
.idea/